 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282d57;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.section {
    margin-bottom: 20px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
}

header {
    padding: 20px;
}

nav {
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px;
}

.logo {
    color: #fcefe9;
    margin: 10px;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Bell MT", serif;
}

nav a {
    margin: 40px;
    text-decoration: none;
    color: #B99470;
    padding: 0 1rem;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline;
}

nav a:hover {
    color: #a7d5e5;
}

h1 {
    margin: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #B99470;
    font-size: 2.25rem;
}

h3 {
    margin-top: -65px;
    text-align: center;
    color: beige;
}

.card {
    background-color: #7eb1c2;
    box-shadow: 0 4px 8px 0 #65bedb;
    transition: 0.3s;
    padding: 100px;
    margin: 25px;
    height: 350px;
    justify-content: space-between;
    align-items: baseline;
    margin-top: -45px;
    border-radius: 5%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #6bbcd7;
}

.column {
    float: left;
    width: 400px;
    padding: 0 1px;
    margin-left: 14px;
    margin-right: 92px;
    display:block;
}

.card {
    font-size: 1.25rem;
    
}

.card p {
    color: #282d57;
    margin-left: -65px;
    margin-right: -65px;
    font-size: 1.25rem;
}

.card ul {
    color: #F9EBC7;
    font-size: 1.05rem;
    margin-left: -100px;
}




  